<!DOCTYPE html>
<html ng-app="angularApp" ng-controller="theInfoBase">

<head>
  <title>Motor Bikes</title>
  <meta charset="utf-8"></meta>
  <link href="css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="css/motorbike.css" rel="stylesheet"></link>
</head>

<body style="background-color:#FFFFE4;">
<!--<p>Set currentMotorBikeId to:<input type='text""' ng-model="currentMotorBikeId"/></p>-->

<div class="container motorBikeOuterContainer">

    <div ng-include="'globalNavArea'">  
    </div>

    <div ng-if="pageType==='fullViews'" ng-include="'pageMotorbikeFullView'">
    </div>

    <div ng-if="pageType==='home'" ng-include="'pageMotorbikeHome'">
    </div>
    
</div>

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/motorBikeAngularApp.js"></script>
<script src="json/motorBikeFullViews.json"></script>
<script src="json/motorbikeTransmissionIndex.json"></script>
<script src="json/motorBikeHierarchy.json"></script>
<script src="json/motorbikeAssociation.json"></script>
<script src="json/motorbikeSequence.json"></script>

<script type="text/ng-template" id="globalNavArea">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-click="setCurrentPageAndNav('home','')">All Bikes</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: navType=='hierarchy'}"><a ng-class="{navLink: navType!='hierarchy'}" ng-click="setCurrentPageAndNav('fullViews','hierarchy')">MotorBikes by Manufacturing Locations</a></li>
                    <li ng-class="{active: navType=='index'}"><a ng-class="{navLink: navType!='index'}" ng-click="setCurrentPageAndNav('fullViews','index')">MotorBikes by Transmission</a></li>
                    <li ng-class="{active: navType=='sequence'}"><a ng-class="{navLink: navType!='sequence'}" ng-click="setCurrentPageAndNav('fullViews','sequence')">Which bike to pick</a></li>
                </ul>
            </div>
        </div>
    </nav>
</script>

<script type="text/ng-template" id="localNavSwitch">
    <div>
      <div ng-if="navType==='hierarchy'">
        <p class="navHeader">MotorBikes by Manufacturing Locations</p>
        <div ng-repeat="folder in folders" ng-include="'folderHierarchy'"></div>
      </div>
      <div ng-if="navType==='index'">
        <p class="navHeader">MotorBikes by Transmission</p>
        <div ng-include="'motorbikeIndex'"></div>
      </div>
      <div ng-if="navType==='sequence'">
        <p class="navHeader">Which bike to pick</p>
        <div class="motorBikeSequences" ng-include="'motorBikeSequences'"></div>
      </div>
    </div>
  </script>
 
<script type="text/ng-template" id="motorBikeItemFullViews">
  <div class="fullViewDiv" ng-repeat="motorBike in motorBikes" ng-show="currentMotorBikeId===motorBike.id">
     <h1 class="bikeName">{{motorBike.bikeName}}</h1>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8">
                <div class="imageContainer"><img class="img-responsive center-block" ng-src="images/bikes/{{motorBike.imgFilePath}}"></img></div>
            </div>
            <div class="col-sm-4">
              <p class="descriptors"><b>Top Speed</b>: {{motorBike.topSpeed}} km/hr</p>
              <p class="descriptors"><b>Acceleration</b>: 0-100 km/hr in {{motorBike.acceleration}} secs.</p>
              <p class="descriptors"><b>WheelBase</b>: {{motorBike.wheelBase}}</p>
              <p class="descriptors"><b>Fuel Economy</b>: {{motorBike.fuelEconomy}} km/10L</p>
              <p class="descriptors"><b>Tyre</b>: {{motorBike.tyreCompanyName}}</p>
              <p class="descriptors"><b>Tyre Size</b>: {{motorBike.tyreSize}}</p>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-8">
               <div class="descriptors" ng-bind-html="motorBike.bikeDescription"></div>
            </div>
            <div class="col-sm-4">
              <div class="motorbikeAssociations" ng-include="'motorbikeAssociations'"></div>
            </div>
          </div>
        </div>
  </div>


</script>
  <script type="text/ng-template" id="motorbikeIndex">
    <div ng-repeat="transmission in transmissions">
      <p class="indexTerm">{{transmission.transmissionName}}</p>
      <p class="indexItemRef" ng-repeat="motorbike in transmission.motorbikes"><a href="#" ng-click="setCurrentMotorBikeId(motorbike.motorbikeId)">{{motorbike.bikeName}}</a></p>
    </div>
  </script>

  <script type="text/ng-template" id="folderHierarchy">
    <p class="hLevel{{folder.level}}">{{folder.name}} </p>
    <p ng-repeat="target in folder.targets" class="hLevel{{1 * folder.level + 1}}"><a href="#" ng-click="setCurrentMotorBikeId(target.targetId)">{{target.targetName}}</a> </p>
    <div ng-repeat="folder in folder.folders" ng-include="'folderHierarchy'"></div>
</script>

<script type="text/ng-template" id="motorbikeAssociations">
    <div ng-repeat="association in associations | filter:{id: currentMotorBikeId}:true">
      <p class="descriptors">If you like {{association.name}}, try:</p>

      <ul>
        <li ng-repeat="relatedMotorbike in association.relatedMotorbikes">
          <a href="#" ng-click="setCurrentMotorBikeId(relatedMotorbike.motorbikeId)">{{relatedMotorbike.bikeName}}</a></li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="motorBikeSequences">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" ng-repeat="sequence in sequences">
        <div class="panel-heading">
          <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion" href="#seq{{$index}}">{{sequence.seqName}}</a>
          </h4>
        </div>
        <div id="seq{{$index}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p ng-repeat="motorbike in sequence.motorbikes">{{motorbike.speedLabel}}: <a href="#" ng-click="setCurrentMotorBikeId(motorbike.bikeId)">{{motorbike.bikeName}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="pageMotorbikeFullView">
    <div class="row-fluid">

      <div class="col-sm-2 localNavArea">
        <div ng-include = "'localNavSwitch'">
         </div>
      </div>

      <div class="col-sm-10 itemArea">
        <div ng-include="'motorBikeItemFullViews'" class= "motorBikeItemFullViews">
        </div>      
      </div>
    </div>
  </script>

<script type="text/ng-template" id="pageMotorbikeHome">
     <div class="content area">
      <div class="partialViewDiv" ng-repeat="motorBike in motorBikes">
        <img class="partialViewImage" ng-src="images/bikes/{{motorBike.imgFilePath}}" ng-click="setCurrentPageNavAndMotorBike('fullViews','hierarchy',motorBike.id)"
        />
        <p class="bikeName">{{motorBike.bikeName}}</p>
        <p class="descriptors"><b>Top Speed</b>: {{motorBike.topSpeed}} km/hr</p>
        <p class="descriptors"><b>Acceleration</b>: 0-100 km/hr in {{motorBike.acceleration}} secs</p>
        <p class="descriptors"><b>Fuel Economy</b>:  {{motorBike.fuelEconomy}} km/10L</p>
      </div>
    </div>
 </script>

</body>

</html>